<section class="items-list">

	<div
	class="item"
	*ngFor="let item of items">

		<a [href]="item.url">
			<span class="img">
				<img [src]="item.img" alt="" />
			</span>
			<strong class="name">{{ item.box_name }}</strong>
			<p class="price">{{ item.price }}</p>
			<span class="btn">See more</span>
		</a>
	</div>

</section>
