.btn {
	border: 1px solid $font;
	padding: 8px 5px;
	@include display-flex(flex);
	@include justify-content(center);
	@include align-items(center);
	@include border-radius(3px);
}

.items-list {
	max-width: 100%;
	overflow: hidden;
  	
	@include display-flex(flex);
	@include flex-wrap(wrap);
 	

	.item {
		max-width: 31%;
		min-width: 31%;		
		margin: 1%;

		a {
			display: block;
			padding: 20px;
			border: 1px solid #f2f2f2;
			@include border-radius(3px);

			&:hover, &:active {
				text-decoration: none;
				@include box-shadow($shadow);

				.name {
					color: $altColor;	
				}

				.btn {
					background: $altColor;
					color: #ffffff;
					border-color: $altColor;
				}
			
			}
		}

		.name {
			font-weight: 700;
		}

		.btn {
			margin-top: 20px;
		}

		.img {
			@include display-flex(flex);
			@include justify-content(center);
			@include align-items(center);
			max-height: 208px;
			min-height: 208px;
			margin-bottom: 20px;
			overflow: hidden;
		}
	}

}