#header {
	@include box-shadow($shadow);
	@include display-flex(flex);
	@include justify-content(center);
	margin-bottom: 40px;
	padding: 18px 0 12px 0; 

	.logo {
		max-width: 200px;
	}
}

#footer {
	font-size: 1.3rem;
	background: $bkg;
	color: $altFont;
	padding: 10px 0;
	text-align: center;

}