
* {
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
}

*, *:before, *:after {
	@include box-sizing(border-box);
}

html {	
	font-size: 62.5%;
}


body {
	font-family: $baseFont, sans-serif;
	font-size: 1.6rem;
	line-height: 1.2;
	color: $font;
	text-rendering: optimizeLegibility;
}

img {
	border:0;
	display: block;
}

img,
picture,
video,
embed {
    max-width: 100%;
}

html, body {
	height:100vh;	
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
	font-weight: normal;
	line-height: 1;
	color:inherit;
	font: 1.6rem $titleFont;
	text-rendering: optimizeLegibility;
}


a {
	color:inherit;
	text-decoration: none;
	cursor: pointer;
	@include transition(0.5s);

	&:focus {
		outline: none;
	}

	&:hover {
		text-decoration: underline;
		color: inherit;
	}
}

button {
	@include transition(0.5s);

	&:focus {
		outline: none;
	}

}

p {
	margin:0;
}

ul, ol, dl {
	margin:0;
	padding: 0;
	list-style-position: inside;
}

em, address {
	font-style:normal;
}

strong {
	font-weight: normal;
}


iframe {
	width: 100%;
	border:0;
	display: block;
}

.container {
	min-width: 320px;
  	max-width: 1200px;
	margin:auto;
}

.site-wrapper {
  	min-width: 320px;
  	min-height:100%;
  	position:relative;
}

.page-content {	
	padding-bottom:70px;
	width: 100%;
}

#footer {
	bottom:0;
	position: absolute;
	width:100%;
}