// Fonts

@include google-font('Roboto:400,700');

$baseFont:"Roboto", sans-serif;
$titleFont:"Roboto", sans-serif;


// Colors

$baseColor: #333333;
$altColor: #FE5816;

$font: #333333;
$altFont: #666666;

$bkg:#f9f9f8;
$shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);