<div class="site-wrapper">

   <app-header></app-header>


   <div class="page-content container" role="main">

        <router-outlet></router-outlet>     

   </div>

   <app-footer></app-footer>

</div>