<div class="item">
	
	<img src="http://media.smartbox.com/pim/1000000307143897235924.jpg?thumbor=280x0" alt="" />
	<strong class="name">3 jours gourmands</strong>
	<p class="price">“200 €”</p>
	<a href="#">See more</a>
</div>
<div class="item">
	<img src="http://media.smartbox.com/pim/1000000307143897235924.jpg?thumbor=280x0" alt="" />
	<strong class="name">3 jours gourmands</strong>
	<p class="price">“200 €”</p>
	<a href="#">See more</a>
</div>
<div class="item">
	<img src="http://media.smartbox.com/pim/1000000307143897235924.jpg?thumbor=280x0" alt="" />
	<strong class="name">3 jours gourmands</strong>
	<p class="price">“200 €”</p>
	<a href="#">See more</a>
</div>
<div class="item">
	<img src="http://media.smartbox.com/pim/1000000307143897235924.jpg?thumbor=280x0" alt="" />
	<strong class="name">3 jours gourmands</strong>
	<p class="price">“200 €”</p>
	<a href="#">See more</a>
</div>
<div class="item">
	<img src="http://media.smartbox.com/pim/1000000307143897235924.jpg?thumbor=280x0" alt="" />
	<strong class="name">3 jours gourmands</strong>
	<p class="price">“200 €”</p>
	<a href="#">See more</a>
</div>
<div class="item">
	<img src="http://media.smartbox.com/pim/1000000307143897235924.jpg?thumbor=280x0" alt="" />
	<strong class="name">3 jours gourmands</strong>
	<p class="price">“200 €”</p>
	<a href="#">See more</a>
</div>
<div class="item">
	<img src="http://media.smartbox.com/pim/1000000307143897235924.jpg?thumbor=280x0" alt="" />
	<strong class="name">3 jours gourmands</strong>
	<p class="price">“200 €”</p>
	<a href="#">See more</a>
</div>
<div class="item">
	<img src="http://media.smartbox.com/pim/1000000307143897235924.jpg?thumbor=280x0" alt="" />
	<strong class="name">3 jours gourmands</strong>
	<p class="price">“200 €”</p>
	<a href="#">See more</a>
</div>
<div class="item">
	<img src="http://media.smartbox.com/pim/1000000307143897235924.jpg?thumbor=280x0" alt="" />
	<strong class="name">3 jours gourmands</strong>
	<p class="price">“200 €”</p>
	<a href="#">See more</a>
</div>